{% extends 'base2.html' %}
{% load static %}
{% block content %}
<br>
<h2  style="margin-left: 5%">My cart</h2>
<div class="container">
    <div class="row" >
        
      <div class="col-sm" style="margin: 5% 0%;">
        {% for i in items %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{i.prod.product_image.url}}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title"><a href="{% url 'product_details' i.prod.product_category.id  i.prod.id %}">{{i.prod.product_brand}} {{i.prod.product_name}}</a></h6>
                  <h5 class="card-text">₹{{i.prod.get_discount_price}}</h5>
                  <p class="card-text"><del>₹{{i.prod.product_price}}</del> &nbsp; <span  class="text-primary" >{{i.prod.product_discount}}% Off</span></p>
                  <p class="card-text">Quantity = {{i.quantity}}</p>
                  <a class="btn btn-secondary" href="{% url 'delete' usercart.id i.id%}">Delete</a>
                  <a class="btn btn-primary" href="{% url 'userhomepage' %}">Continue Shopping</a>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <h2>No items in the cart</h2>
          <a class="btn btn-primary" href="{% url 'userhomepage' %}">Shop Now</a>
        {% endfor %}
      </div>

      <div class="col-sm" style="margin: 5%;">
        {% if items %}
        <h3 class="text-muted" >PRICE DETAILS</h3>
        <br>
        <h4>Total Price({{total.quantity__sum}} items) </h4>
        <h4><b>{{usercart.total_price}}</b></h4>
        <br>
        <a type="button" class="btn btn-success" href="{% url 'orderoptions' %}">Place Order</a>
        
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}